<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Add Sensor</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body class="p-3 mb-2 bg-dark text-white">
    <div class="container text-center">
        <form id = "form" th:action="@{/addSensor}" method="post" th:object="${sensor}"
              style="max-width: 800px; margin: 0 auto;">
            <div class="m-3">
                <div class="form-group row">
                    <label class="col-form-label col-4"></label>
                    <div class="">
                        <div th:if="${locationError != null}" class="alert alert-danger notification" role="alert">
                            <p  th:text="${locationError}"></p>
                        </div>
                    </div>
                </div>
                <div id = "locDiv" class="form-group row pl-5">
                    <label class="col-form-label col-4">Location
                        <input type="text" class="form-control" th:field="*{location}" required/>
                    </label>
                </div>
                <div id = "isInstalled" class="form-group row pl-5">
                    <div class="mr-4 pr-5">
                        <p>Is the sensor already installed?</p>
                    </div>
                    <div id="yes" class="mr-4 pr-5">
                        <input type="radio" id="true" name="installed" value="true" th:field="*{installed}" required>
                        <label for="true">Yes</label><br>
                    </div>
                    <div>
                        <input type="radio" id="false" name="installed" value="false" th:field="*{installed}">
                        <label for="false">No</label><br>
                    </div>
                </div>

                <div id="submit">
                    <button type="submit" class="btn btn-primary">Add Sensor</button>
                </div>
            </div>
        </form>
        <a th:href = "@{'/homepage'}">Cancel</a>

    </div>
</body>
</html>