<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Delete Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body class="p-3 mb-2 bg-dark text-white">
    <div class="container text-center">
        <table class="table table-striped table-bordered bg-secondary text-dark rounded">
            <thead class=""thread-dark>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Recover</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users}" th:if="${user.getId()} != ${currentUser.getId()}" >

                <td th:text="${user.getId()}">ID</td>
                <td th:text="${user.getUsername()}">Username</td>
                <td th:text="${user.getEmail()}">Email</td>
                <td th:text="${user.getRole()}">Role</td>
                <td>
                    <form th:action="@{'/user/' + ${user.getId()} + '/recover'}" method="get">
                        <div>
                            <button class="btn btn-info" type="submit">Recover</button>
                        </div>
                    </form>
                </td>
                <td>
                    <form th:action="@{'/user/' + ${user.getId()} + '/update'}" method="get">
                        <div>
                            <button class="btn btn-success" type="submit">Update</button>
                        </div>
                    </form>
                </td>
                <td>
                    <form th:action="@{'/user/' + ${user.getId()} + '/delete'}" method="post">
                        <div>
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div class = "py-2">
            <form th:action="@{'/homepage'}" method="get">
                <div>
                    <button type="submit" class="btn btn-primary">Back</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>