<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Update Sensor</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body class="p-3 mb-2 bg-dark text-white">
<div class="container text-center">
    <form id="form" th:action="@{'/sensor/update/'+${sensor.id} +'/edit/confirm'}" method="post" th:object="${sensor}"
          style="max-width: 800px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-form-label col-4"></label>
                <div class="">
                    <div th:if="${locationError != null}" class="alert alert-danger notification" role="alert">
                        <p  th:text="${locationError}"></p>
                    </div>
                </div>
            </div>
            <div id ="update" class="form-group row pl-5">
                <label class="col-form-label col-4">Location
                <input type="text" class="form-control" th:field="*{location}" th:value="*{location}" required/>
                </label>
            </div>

            <div id="button">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
    </form>
    <a th:href = "@{'/sensor/update/' + ${sensor.getId()}}">Cancel</a>

</div>
</body>
</html>